In [973]:

%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import pandas as pd
import seaborn

In [974]:
df=pd.read_csv("diamonds.csv")

In [975]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [976]:
dummies=pd.get_dummies(df.loc[:,["cut","color","clarity"]])

df[dummies.columns] = dummies
df.drop(df.iloc[:,[0,2,3,4,5,6]],inplace=True, axis=1)

In [977]:
train=df.sample(frac=0.8)
test=df.drop(train.index)
#train.drop("Unnamed: 0",inplace=True, axis=1)
#test.drop("Unnamed: 0",inplace=True,axis=1)
test.shape,train.shape

((10788, 25), (43152, 25))

In [978]:
trainy=train["price"].to_numpy()
trainx=train.drop(["price"],axis=1)
testy=test["price"].to_numpy()

testx=test.drop(["price"],axis=1).to_numpy()

trainx=trainx.to_numpy()
testx.shape,testy.shape,trainx.shape[0]

train.shape,trainx.shape

((43152, 25), (43152, 24))

In [979]:
class Linear_regression:
    def __init__(self,x,y,alpha=0.02):
        self.x=x
        self.y=y
        self.alpha=alpha
        self.samples,self.features=x.shape
        self.theta=np.random.rand(self.features, 1)
        #self.theta=np.reshape(self.theta,(self.theta.size,1))
    def training(self,n=1000):
        while(n):
            
            self.y_hat=np.dot(self.x,self.theta)
            temp=self.y-self.y_hat
            
            self.gradient=np.dot(self.x.T,temp)
            #print(self.gradient.shape)            
            self.theta=self.theta+((self.alpha/self.samples)*self.gradient)
            #print(self.theta.shape)
            n=n-1
        return self.theta
    def testing(self,x,theta):
        self.test_x=x
        self.test_y=np.dot(x,self.theta)
        print(self.test_y)
        return self.test_y

In [980]:
trainy=np.reshape(trainy,(trainy.size,1))
testy=np.reshape(testy,(testy.size,1))

In [981]:
bias_col = np.ones(shape=(trainx.shape[0], 1))
trainx = np.hstack((bias_col, trainx))
bias_col = np.ones(shape=(testx.shape[0], 1))

testx=np.hstack((bias_col, testx))
bias_col.shape,trainx.shape

((10788, 1), (43152, 25))

In [982]:
#trainx=trainx.transpose()
trainx.shape,trainy.shape

((43152, 25), (43152, 1))

In [983]:
train.shape,trainx.shape,trainx

((43152, 25),
 (43152, 25),
 array([[1.  , 1.55, 7.73, ..., 0.  , 0.  , 0.  ],
        [1.  , 0.7 , 5.73, ..., 0.  , 0.  , 0.  ],
        [1.  , 0.36, 4.58, ..., 1.  , 0.  , 0.  ],
        ...,
        [1.  , 0.7 , 5.64, ..., 0.  , 0.  , 0.  ],
        [1.  , 0.79, 5.91, ..., 0.  , 0.  , 0.  ],
        [1.  , 1.  , 6.37, ..., 0.  , 0.  , 0.  ]]))

In [984]:
lr=Linear_regression(trainx,trainy)
lr

In [985]:
mp=lr.training()

In [986]:
np.dot(lr.x, mp), trainy

(array([[8782.18943264],
        [3119.57013817],
        [1012.11390357],
        ...,
        [3042.0574705 ],
        [3720.931271  ],
        [5451.26278122]]),
 array([[8069],
        [2423],
        [ 852],
        ...,
        [2278],
        [3053],
        [4480]]))

In [987]:
pred=lr.testing(testx,mp)
testx.shape

[[-1074.19613127]
 [-1106.36323542]
 [-1082.3661975 ]
 ...
 [ 3852.44676389]
 [ 3568.57946806]
 [ 3140.46526047]]

(10788, 25)

In [988]:
mean_squared_error(testy,pred)

1854466.01960294